@media only screen and (min-width: 32.5em) {
    .nav-items a {
        display: block;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.2em;
    }

    .nav-items li:first-child {
        display: block;
    }

    .cards {
        flex-direction: row;
    }

    /* article */
    .article h3,
    p {
        position: relative;
        width: 100%;
    }

    main .article figure.article-pic {
        width: 50%;
        float: right;
    }

    .levels {
        flex-direction: row;
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
    }

    .name {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .email {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .phone {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .website {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .firstname {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .lastname {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .title {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .address {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .text-area {
        margin: 0;
        max-width: 100%;
    }

    .facebook {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .twitter {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .instagram {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .linkedin {
        flex: 1 1 40%;
        margin: 0 0.5em;
    }

    .selection {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .levels {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .level-card1 {
        flex: 1 0 40%;
    }

    .level-card2 {
        flex: 1 0 40%;
    }

    .level-card3 {
        flex: 1 0 40%;
    }

    .level-card4 {
        flex: 1 0 40%;
    }

    /* directory */
    .grid-view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1em;
    }

    .company {
        flex: 0 1 40%;
    }

    /* display toggle */
    .display {
        display: block;
        text-align: right;
        margin: 1em 0.5em;
    }

    .display button {
        margin: 0.5em;
    }

    .grid,
    .list {
        background-color: rgba(233, 245, 219, 1);
        border-style: none;
        cursor: pointer;
        color: rgba(1, 11, 14, 0.678);
    }

    .grid:hover,
    .list:hover {
        color: rgba(0, 0, 255, 0.973);
    }

    .comment-area {
        flex: 0 1 50%;
    }
}