/* header */
header {
    background-color: rgba(181, 201, 154, 1);
}

header picture {
    padding: 0.5em;
}

header img {
    width: 60px;
    height: auto;
}

.logoh1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1 0 40%;
}

.header h1 {
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    padding-left: 0.3em;
    margin: 0;
}

nav {
    margin: 0 auto;
    background-color: rgba(181, 201, 154, 1);
}

.nav-items {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-items li:first-child {
    display: block;
}

.nav-items li {
    display: none;
    font-family: "Open Sans", sans-serif;
}

.nav-items a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 1em;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}

.nav-items .active a {
    background-color: rgb(130, 151, 102, 1);
    color: rgba(255, 255, 255, 0.9);
}

.nav-items a:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-items li a:active {
    color: rgba(6, 130, 247, 0.938);
    background-color: rgba(0, 0, 0, 0.2);
}

/* to toggle menu */
.responsive li {
    display: block;
}

body {
    background-color: rgba(233, 245, 219, 1);
}

main {
    background-color: rgba(233, 245, 219, 1);
    max-width: 90%;
    margin: 0 auto;
}

.article-pic {
    width: 60%;
    margin: 1rem auto;
}

.article-pic .article-img {
    width: 100%;
}

/* Cards */
.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    flex: 1 1 30%;
    text-align: center;
    padding-top: 1em;
}

.cards ol {
    padding: 0;
}

.cards ol li {
    list-style-type: none;
}

.cards ol li a {
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    color: rgba(9, 3, 95, 0.945);
    margin: 0;
    display: block;
    padding: 0.5rem;
    text-align: center;
    font-size: 1em;
}

.cards ol li a:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

.cards ol li a:active {
    color: rgba(6, 130, 247, 0.938);
    background-color: rgba(0, 0, 0, 0.2);
}

.cards .section {
    margin: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.966);
    border-radius: 4px;
    background-color: rgba(207, 225, 185, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.966);
}

/* goals*/
.goals {
    padding-top: 1em;
    padding-bottom: 2em;
}

.goals p {
    font-family: "Open Sans", sans-serif;
}

/* events/join*/
.coming-up {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.events {
    background: radial-gradient(rgba(118, 124, 207, 0.973),
            rgba(46, 53, 160, 0.973));
    border: 1px solid rgba(0, 0, 0, 0.966);
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.966);
    opacity: 0.8;
    margin-bottom: 0.5rem;
    flex: 1 0 50%;
    color: rgba(84, 233, 91, 0.973);
}

.events h2 {
    margin: 0;
    text-align: center;
    font-family: "Roboto Slab", serif;
}

.events ul li {
    font-family: "Open Sans", sans-serif;
    padding: 0.5em;
}

.text-wrapper h1 {
    text-align: center;
    color: rgba(9, 3, 95, 0.945);
    font-size: 2em;
    font-family: "Roboto Slab", serif;
}

/* contact*/
.contact {
    width: 100%;
    background-color: rgba(207, 225, 185, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: rgba(9, 3, 95, 0.945);
}

.contact h2 {
    font-family: "Roboto Slab", serif;
    margin-bottom: 0%;
    margin-top: .2rem;
    padding: 0.2em;
}

.contact p {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding-bottom: 0.1em;
}

/* .contact p:last-child {
    padding-bottom: 1em;
} */

/* touch*/
.touch {
    flex: 1 1 50%;
}

/* connected*/
.connected {
    flex: 1 1 50%;
}

.connected a {
    margin-bottom: 0;
    padding-bottom: 2em;
}

.connected .fa {
    padding: 0.8em;
    font-size: 1.5em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

footer {
    background-color: rgba(181, 201, 154, 1);
    text-align: center;
    padding: 0.5em;
}

footer p {
    margin: 0;
    padding: 0.5em;
}

footer p:first-child {
    padding-bottom: 0;
}

footer p:last-child {
    padding-top: 0;
}

/* child page */
.article {
    margin: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-family: "Open Sans", sans-serif;
    padding: 1em;
}

main .article figure.article-pic {
    width: 100%;
    margin: 0 0 0 2%;
}

main .article figure.article-pic .articleimg {
    width: 100%;
}

.article h2 {
    text-align: left;
    font-family: "Roboto Slab", serif;
    padding-top: 1em;
}

.article h3 {
    color: black;
    text-align: left;
}

.article h2,
p,
h3 {
    margin: 0;
    padding-bottom: 0.5em;
}

/* child page */
.content {
    padding-left: 1rem;
}

.content .main-list__item h3 {
    margin-bottom: 0;
}

.inner-content {
    padding-left: 0;
}

.inner-content li {
    list-style-type: none;
}

.inner-content li {
    word-wrap: break-word;
}

h4 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* tic tac toe  */

* {
    box-sizing: border-box;
}

.container h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(109, 4, 207);
}

.container {
    padding: 40px;
    height: 90%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    /* width: 450px; */
}

.box {
    height: 90px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: rgb(109, 4, 207);
}

.box:hover {
    cursor: pointer;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background: radial-gradient(rgba(132, 233, 119, 0.973),
            rgba(3, 241, 35, 0.973));
    padding: 1rem 3rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.966);
    opacity: 0.8;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(99, 3, 189);
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.box {
    border: 3px solid rgb(99, 3, 189);
}

.box:nth-child(1) {
    border-top: none;
    border-left: none;
}

.box:nth-child(2) {
    border-top: none;
}

.box:nth-child(3) {
    border-top: none;
    border-right: none;
}

.box:nth-child(4),
.box:nth-child(7) {
    border-left: none;
}

.box:nth-child(6),
.box:nth-child(9) {
    border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
    border-bottom: none;
}