<div class="largenav">
    <header>
        <div class="logoh1">
            <picture>
                <img src="/images/logo.jpg" alt="logo" />
            </picture>
            <section class="header">
                <h1><%= pageTitle %></h1>
            </section>
        </div>
    </header>
    <nav>
        <ul class="nav-items">
            <li><a class="hamburger button" href="#">🍔 Menu</a></li>
            <li><a href="/index">Home</a></li>
            <li class="<%= path ==='/week1' ? 'active' : '' %>"><a href="/week1">Week
                    One</a></li>
            <li class="<%= path ==='/week2' ? 'active' : '' %>"><a href="/week2">Week
                    Two</a></li>

            <li class="<%= path ==='/week3' ? 'active' : '' %>"><a href="/week3">Week
                    Three</a></li>
        </ul>
    </nav>
</div>