<%- include('includes/head.ejs') %>

<script src="js/main.js"></script>
</head>

<body>
    <div class="largenav">
        <header>
            <div class="logoh1">
                <picture>
                    <img src="images/logo.jpg" alt="logo" />
                </picture>
                <section class="header">
                    <h1><%= pageTitle %></h1>
                </section>
            </div>
        </header>
        <nav>
            <ul class="nav-items">
                <li><a class="hamburger button" href="#">🍔 Menu</a></li>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </nav>
    </div>
    <main>
        <!-- profile picture  -->
        <figure class="article-pic">
            <img class="article-img" src="/images/profile.jpg" alt="profile picture" />
        </figure>
        <!-- cards -->
        <div class="cards">
            <ol id="linksList">

            </ol>
            <script>
                loadIndex();
            </script>
        </div>
    </main>

    <%- include('includes/end.ejs') %>