@media only screen and (min-width: 41.5em) {
    .largenav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logoh1 {
        justify-content: left;
    }

    nav {
        margin: 0;
        flex: 1 0 65%;
        padding-top: 1em;
    }

    header {
        flex: 1 0 35%;
    }

    .nav-items li:first-child {
        display: none;
    }

    .nav-items {
        display: flex;
        margin-bottom: 0;
    }

    .nav-items a {
        font-size: 1em;
        border-top: none;
        color: rgba(0, 0, 0, 0.8);
    }

    .nav-items li {
        display: block;
        flex: auto;
        text-align: center;
    }

    .nav-items li:first-child {
        display: none;
    }

    .nav-items .active a,
    a:hover {
        border-radius: 6px;
    }

    .article-pic {
        width: 30%;
        margin: 1rem 1rem 1rem 4rem;
        float: right;
    }

    .article-pic .article-img {
        width: 100%;
    }

    .joinevents {
        flex-direction: row;
    }

    .contact {
        flex-direction: row;
    }
}