<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="largenav">
        <header>
            <div class="logoh1">
                <picture>
                    <img src="images/logo.jpg" alt="logo" />
                </picture>
                <section class="header">
                    <h1><%= pageTitle %></h1>
                </section>
            </div>
        </header>

    </div>
    <main>
        <!-- profile picture  -->
        <figure class="article-pic">
            <img class="article-img" src="/images/robot-head.jpg" alt="profile picture" />
        </figure>
        <!-- cards -->
        <h1>404 Page Not Found.</h1>
    </main>
</body>

</html>