<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul>
            <li>
                <h2><a href="/ta03">Team Activity.</a></h2>
            </li>

            <!-- task one -->
            <li class="main-list__item">
                <h2>Completed reading assignment from Javascript: Novice to Ninja.</h2>
                <div>
                    <h3>Notes from reading:</h3>
                    <ul class="inner-content">

                        <p>Functions that are stored in object properties are called “methods”.</p>
                        <p>Methods can reference the object as 'this'.</p>
                        <p>The value of 'this' is defined at run-time.</p>
                        <p>When a function is declared, it may use this, but that this has no value until the
                            function is called.</p>
                        <p>A function can be copied between objects.</p>
                        <p>When a function is called in the “method” syntax: object.method(), the value of this
                            during the call is object.</p>
                        <p>Everything in JavaScript is either one of the six primitive data types we met in Chapter 2
                            (strings, numbers, booleans, symbols, undefined, and null) or an object. </p>
                        <p>An object in JavaScript is a self-contained set of related values and functions. They act as
                            a collection of named properties that map to any JavaScript value such as strings, numbers,
                            booleans, arrays and functions. If a property’s value is a function, it is known as a
                            method.</p>

                    </ul>
                </div>
            </li>

            <!-- task 2 -->
            <li class="main-list__item">
                <h2>Completed Team Activity</h2>
                <div>
                    <h3>Notes:</h3>
                    <ul class="inner-content">
                        <li>
                            <h4>Core Requirements</h4>
                            <p>We were able to complete the core requirements</p>
                        </li>

                        <li>
                            <h4>Stretch Goals</h4>
                            <p>We were able to complete the stretch goals, I followed along with the videos and
                                completed all of the tasks.</p>
                        </li>

                    </ul>
                </div>
            </li>

            <!-- task 4 -->
            <li class="main-list__item">
                <h2>Report</h2>
                <div>
                    <h3>Notes:</h3>
                    <ol class="inner-content">
                        <li>
                            <h4>What did I do since the last meeting?</h4>
                            <p>I met with my team and completed the team assignment.</p>
                            <p>I did more CSS work to make my site responsive.</p>
                            <p>I added a profile picture to my portfolio.</p>
                        </li>

                        <li>
                            <h4>What am I going to do next?</h4>
                            <p>I want to add more views to my site.</p>
                            <p>I will apply CSS code to all of my views.</p>
                            <p>I want to make the weekly assignment pages dynamic so I can add the content directly on
                                the site and not in VS Code.</p>
                        </li>

                        <li>
                            <h4>What are my blockers?</h4>
                            <p>I need to research how to make my site dynamic.</p>
                        </li>
                    </ol>
                </div>
            </li>
        </ul>
    </main>
    <%- include('../includes/end.ejs') %>