<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul>
            <li>
                <h2><a href="/ta11">Team Activity</a></h2>
            </li>

            <!-- task 2 -->
            <li class="main-list__item">
                <h2>Completed Team Activity</h2>
                <div>
                    <h3>Notes:</h3>
                    <ul class="inner-content">
                        <li>
                            <h4>Core Requirements</h4>
                            <p>Were able to complete all of the core requirements.</p>
                        </li>

                        <li>
                            <h4>Stretch Goals</h4>
                            <p>Was able to complete the stretch goals with the help of the teachers code.</p>
                        </li>

                    </ul>
                </div>
            </li>

            <!-- task 4 -->
            <li class="main-list__item">
                <h2>Report</h2>
                <div>
                    <h3>Notes:</h3>
                    <ol class="inner-content">
                        <li>
                            <h4>What did I do since the last meeting?</h4>
                            <p>I met with my team and worked on the team activity.</p>
                        </li>

                        <li>
                            <h4>What am I going to do next?</h4>
                            <p>Continue to add content as needed every week.</p>
                            <p>Start on next week's reading and to be prepare for the meeting.</p>
                            <p>Continue working on my site to add templates.</p>
                        </li>

                        <li>
                            <h4>What are my blockers?</h4>
                            <p>Working on homework for several classes.</p>
                        </li>
                    </ol>
                </div>
            </li>
        </ul>
    </main>
    <%- include('../includes/end.ejs') %>