<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul>
            <li>
                <h2><a href="/todo">ToDo</a></h2>
            </li>

            <!-- task one -->
            <li class="main-list__item">
                <h2>Testing and Debugging.</h2>
                <div>
                    <h3>Notes from reading:</h3>
                    <ul class="inner-content">

                        <li>
                            <p>- No Reading assignment this week.</p>


                        </li>

                    </ul>
                </div>
            </li>

            <!-- task 2 -->
            <li class="main-list__item">
                <h2>Complete Team Activity</h2>
                <div>
                    <h3>Notes:</h3>
                    <ul class="inner-content">
                        <li>
                            <h4>Core Requirements</h4>
                            <p>No team activity assignment this week.</p>
                        </li>

                        <li>
                            <h4>Stretch Goals</h4>
                            <p>No team activity assignment this week.</p>
                        </li>

                    </ul>
                </div>
            </li>

            <!-- task 4 -->
            <li class="main-list__item">
                <h2>Report</h2>
                <div>
                    <h3>Notes:</h3>
                    <ol class="inner-content">
                        <li>
                            <h4>What did I do since the last meeting?</h4>
                            <p>No meeting this week.</p>
                        </li>

                        <li>
                            <h4>What am I going to do next?</h4>
                            <p>Continue to add content as needed every week.</p>
                            <p>Start on next week's reading and ta to be prepare for the meeting.</p>
                            <p>I want to implement the MVC pattern to my project. </p>
                        </li>

                        <li>
                            <h4>What are my blockers?</h4>
                            <p>Work load at my full time job.</p>
                        </li>
                    </ol>
                </div>
            </li>
        </ul>
    </main>
    <%- include('../includes/end.ejs') %>