<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul>
            <li class="main-list__item">
                <h2>Completed Team Activity</h2>
            </li>

            <li class="main-list__item">
                <h2>Report</h2>
                <div>
                    <h3>Notes:</h3>
                    <ol class="inner-content">
                        <li>
                            <h4>What did I do since the last meeting?</h4>
                            <p>Worked on my portfolio.</p>
                        </li>

                        <li>
                            <h4>What am I going to do next?</h4>
                            <p>Finish my portfolio.</p>
                        </li>

                        <li>
                            <h4>What are my blockers?</h4>
                            <p>Big projects for other classes and my full time job.</p>
                        </li>
                    </ol>
                </div>
            </li>
        </ul>
    </main>
    <%- include('../includes/end.ejs') %>