<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul>
            <li>
                <h2><a href="/ta09">Team Activity</a></h2>
            </li>
            <li>
                <h2><a href="/sitePlan">Challenge site plan</a></h2>
            </li>

            <!-- task one -->
            <li class="main-list__item">
                <h2>Reading Notes</h2>
                <div>
                    <h3>The Window Object | HTML5 APIs</h3>
                    <ul class="inner-content">

                        <li>
                            <h4>The Window Object</h4>
                            <p>
                                The window object is the global object in a browser.
                                <p>
                                    Global variables are actually properties of the window object in a browser
                                    environment.
                                </p>

                                <p>
                                    alert, confirm(), and prompt() are all methods of the window object, and open
                                    dialogs that halt the execution of the program.
                                </p>
                                <p>
                                    The window.navigator object gives information about the user’s browser and operating
                                    system, although it can be unreliable.
                                </p>
                                <p>
                                    The window.location object provides information about the URL of the current page.
                                </p>

                                <p>
                                    The window.history object keeps information about the pages that have been visited
                                    in
                                    the session.
                                </p>
                                <p>
                                    You can open, close, resize, and move windows (although, this doesn’t mean you
                                    should!).
                                </p>

                                <p>
                                    The window.screen object provides information about the user’s screen.
                                </p>

                                <p>
                                    document.write() is an archaic method of writing text to the document and should be
                                    avoided.
                                </p>

                                <p>
                                    Cookies can be used to store small pieces of information between requests using the
                                    document.cookie property.

                                </p>

                                <p>

                                    The window.setTimeout() method can be used to invoke a function after a set amount
                                    of
                                    time. It can be canceled using the clearTimeout() method.
                                </p>

                                <p>

                                    The window.setInterval() method can be used to repeatedly invoke a function. It can
                                    be
                                    stopped using the clearInterval() method.
                                </p>

                                <p>

                                    The window.requestAnimationFrame() method can be used to produce smooth and
                                    optimized
                                    animation by utilizing the browser's built-in graphics capabilities. It can be
                                    canceled
                                    using the cancelAnimationFrame() method.
                                </p>
                            </p>

                        </li>
                        <li>
                            <h4>HTML5 APIs</h4>
                            <p>HTML5.1 is the latest incarnation of the Hypertext Markup Language. It covers a variety
                                of technologies, including several APIs that are accessible using JavaScript.</p>
                            <p>

                                data- attributes help to embed custom data into a web page that can then be used to
                                enhance the user experience with JavaScript.
                            </p>

                            <p>
                                The Web Storage API allows key-value pairs to be stored on the user’s device in a
                                similar
                                way to cookies, but without the same storage restrictions.
                            </p>

                            <p>
                                The Geolocation API allows you to access the geographic coordinates of the user’s
                                device, as
                                long as the user gives permission.
                            </p>

                            <p>
                                The Web Worker API can be used to perform computationally intensive tasks in the
                                background,
                                which helps to avoid websites becoming unresponsive.
                            </p>

                            <p>

                                Websockets are a new protocol for communicating over the internet, and allow real-time,
                                two-way communication.
                            </p>

                            <p>
                                The Notification API allows you to display notifications on the user's system.
                            </p>

                            <p>
                                The audio and video elements can be employed to embed audio tracks and video clips
                                in a
                                web page. They also have a Media API that can help control the playback using
                                JavaScript.
                            </p>

                            <p>
                                The canvas element can be used to dynamically draw geometric shapes, text, and
                                images on a web page in real-time using JavaScript.
                            </p>

                            <p>
                                A shim or polyfill is a piece of code that adds support of missing features to older
                                browsers.
                            </p>

                        </li>
                    </ul>

                </div>
            </li>

            <!-- task 2 -->
            <li class="main-list__item">
                <h2>Completed Team Activity</h2>
                <div>
                    <h3>Notes:</h3>
                    <ul class="inner-content">
                        <li>
                            <h4>Core Requirements</h4>
                            <p>We were able to complete all of the core requirements.</p>
                        </li>

                        <li>
                            <h4>Stretch Goals</h4>
                            <p>Completed the stretch goals.</p>
                        </li>

                    </ul>
                </div>
            </li>

            <!-- task 4 -->
            <li class="main-list__item">
                <h2>Report</h2>
                <div>
                    <h3>Notes:</h3>
                    <ol class="inner-content">
                        <li>
                            <h4>What did I do since the last meeting?</h4>
                            <p>I met with my team and worked on the team activity.</p>
                            <p>Tried adding templates to my website, but I am not being successful.</p>
                        </li>

                        <li>
                            <h4>What am I going to do next?</h4>
                            <p>Continue to add content as needed every week.</p>
                            <p>Start on next week's reading and to be prepare for the meeting.</p>
                            <p>Continue working on my site to add templates.</p>
                        </li>

                        <li>
                            <h4>What are my blockers?</h4>
                            <p>Working on homework for several classes.</p>
                            <p>My full time job, I could not find the time to work on my homework this week due to a
                                high number of service calls.</p>
                        </li>
                    </ol>
                </div>
            </li>
        </ul>
    </main>
    <%- include('../includes/end.ejs') %>