<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>Week 1 Notes</h1>
        <ul>

            <!-- task one -->
            <li class="main-list__item">
                <h2>Completed portfolio assignment</h2>
                <div>
                    <h3>Questions:</h3>
                    <ul>
                        <li>Page 67 of 'doing stuff', code line #11. 'if(numberAsText != “” && !isNaN(aNumber)', What
                            does
                            the logic after the = sign mean?
                            <p>NaN means Not-A-Number. That logic means if numberAsText is not a string and it is a
                                number,
                                then do the following.</p>
                        </li>
                        <li>What does toLocaleString mean? It is a function that converts the date and time stamp to a
                            string.</li>
                    </ul>
                </div>
            </li>

            <!-- task 2 -->
            <li class="main-list__item">
                <h2>Watched the Master Mobile UX video</h2>
                <div>
                    <h3>Notes:</h3>
                    <ul>
                        <li>Responsive retrofitting does does not equal mobile first.</li>

                        <li>Do mobile first! do not try to shove a marshmallow into a piggy bank.</li>

                        <li>Slow loading apps loose money. I should reduce image size, optimize CSS and JS files, and
                            GZIP
                            files to eliminate unnecessary data. This will help reduce loading time.</li>

                        <li>Reachability is very important, on mobile devices moving the primary controls (menu) to the
                            bottom of the screen increases reachability.</li>

                        <li>Many user do not know what a hamburger menu is, the word menu make to look like a button is
                            the
                            best option.</li>

                        <li>Make the app easy to understand and use and focus on the most important things first.</li>

                        <li>Design intuitive and mobile friendly forms. Make labels into float labels (display inside
                            the
                            field) and make inputs bigger.</li>

                        <li>If using pagination to complete forms, make sure to include a progress indicator.</li>

                        <li>Masking passwords doesn't even increase security, but it does cost business due to login
                            failures.</li>

                        <li>Display the correct keyboard for the type of data that the user needs to enter. Make check
                            boxes
                            bigger and easy to select.</li>

                        <li>Do not use pop ups/pop overs, in between adds or auto play music and audio. Keep it simple
                            and
                            make sure adds are unobtrusive, the content first!</li>

                    </ul>
                </div>
            </li>

            <!-- task 3 -->
            <li class="main-list__item">
                <h2>Doing Stuff with Web</h2>
                <div>
                    <h3>Notes:</h3>
                    <ul>
                        <li>JSON is use to convert anything to text, and it allows the text to be converted back to the
                            original thing.</li>
                        <li>parse = To examine a string character by character to determine what the string mean.</li>
                        <li>JSON.stringify = function that converts stuff into a string.</li>
                        <li>localStorage.setItem(“all_notes”, allNotesString) = local storage, store the allNotesString
                            variable content using the key 'all_notes' so I can get it later.</li>
                        <li>localStorage.getItem(“all_notes”) = local storage, get back what is store in key 'all_notes'
                            as
                            string representing an array of messages.</li>

                    </ul>
                </div>
            </li>

            <!-- task 4 -->
            <li class="main-list__item">
                <h2>Report</h2>
                <ol>
                    <li>What did I do since the last meeting?
                        <ul>
                            <li>I set up the programs I need for this course.</li>
                            <li>I had trouble setting up Sitepoint, but with help from a fellow student I was able to
                                figure
                                it out.</li>
                        </ul>
                    </li>

                    <li>What am I going to do next?
                        <ul>
                            <li>Try to complete my weekly assignments the best I can.</li>
                            <li>I am having a hard time following the instructions this week, but I will use slack to
                                ask
                                questions and make sure I have all of my assignments completed.</li>
                        </ul>
                    </li>
                    <li>What are my blockers?
                        <ul>
                            <li>My biggest challenge this week was setting up Sitepoint. The instructions were not very
                                clear to me.</li>
                            <li>I am having a hard time following along with the assignments, I find the instruction
                                confusing.</li>
                        </ul>
                    </li>
                </ol>
            </li>

        </ul>
    </main>
    <%- include('../includes/end.ejs') %>