<div class="contact">
    <div class="touch">
        <h2>Get In Touch</h2>
        <p>(208) 333-3333</p>
        <p>info@placeholder.edu</p>
    </div>
    <div class="connected">
        <h2>Stay Connected</h2>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div>
</div>
<footer>
    <p>&copy;| Julio Caballero |</p>
    <p class="date"><span id="date"></span></p>
</footer>
</body>

</html>